* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

a, button {
    width: 80px;
    height: 80px;
    background-color: #0062a800;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 5px solid #333;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: black;
}

.cell {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cell:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 1px solid black;
    /*position: relative;*/
    z-index: 1;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.circle {
    height: 30%;
    width: 30%;
    background-color: #1a1a1a50;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border: 3px solid red;
    background-color: #f77f00;
}

@media (max-width: 600px) {
    #chessboard {
        grid-template-columns: repeat(8, 50px);
        grid-template-rows: repeat(8, 50px);
    }
    .cell {
        width: 50px;
        height: 50px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
    }

    #chessboard {
        border: 5px solid #ccc;
        box-shadow: 0 0 100px rgba(255,255,255,0.2);
        background: white;
    }

    .cell {
        color: #f5f5f5;
    }

    .cell:hover {
        box-shadow: rgba(255, 255, 255, 0.09) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border: 1px solid #ffffff;
        /*position: relative;*/
        z-index: 1;
    }

    .white {
        background-color: #606060;
    }

    .black {
        background-color: #303030;
    }

    .selected {
        border-color: #ff4500;
        background-color: #ff4500;
    }
}