* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

a, button {
    background-color: #0061a8;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover, button:hover {
    background-color: #003569;
}
